{% extends 'hedgehogs/base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-4">Contact Us</h1>
    <p class="text-center">We'd love to hear from you! Reach out with any questions, suggestions, or just to share your love for hedgehogs!</p>

    <!-- Контактная информация -->
    <div class="row mt-5">
        <div class="col-md-6">
            <h3>Our Contact Information</h3>
            <p><strong>Email:</strong> <a href="mailto:hello@hedgehogworld.com">hello@hedgehogworld.com</a></p>
            <p><strong>Phone:</strong> +1 (800) 123-4567</p>
            <p><strong>Address:</strong></p>
            <p>Hedgehog World HQ<br>
               123 Hedge Lane<br>
               Woodland City, Natureland 45678</p>
        </div>
    </div>

</div>
{% endblock %}
